.CalendarPage {
  padding: 0;
}

.CalendarName {
    font-family: 'Montserrat' sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: black;
    margin: 24px;
    margin-bottom: 0;
    display: inline-block;
}

.CalendarContainer {
  overflow: auto;
  position: absolute; /* Positioning parent: App -> .ContentArea */
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
}

.Calendar {
  display:inline-block
}
