.CalendarMember {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.email {
  flex: 1;
  margin-left: 8px;
}

.spinner + .email, .remove {
  margin-left: 8px;
}

.remove {
  pointer-events: none;
  opacity: 0;
  color: rgba(0,0,0,.4);
  margin-right: 4px;
}

.current {
  font-size: 12px;
  text-transform: lowercase;
  background: rgb(197, 247, 194);
  margin-right: 16px;
  padding: 2px 6px;
  padding-bottom: 3px;
  border-radius: 16px;
}

.CalendarMember:not(.pending):hover {
  background: rgba(0,0,0,.1);
}

.CalendarMember:not(.pending):hover .remove {
  pointer-events: all;
  opacity: 1;
  cursor: pointer;
}

.spinner {
  margin-left: 8px;
  font-size: 1.2px;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #000;
  background: -moz-linear-gradient(left, #000 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #000 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #000 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #000 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #000 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before {
  width: 50%;
  height: 50%;
  background: #000;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.spinner:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
